body{margin: 0; padding: 0; background: linear-gradient(45deg, rgb(177, 177, 255), rgb(62, 62, 255)) no-repeat; width: 100%; height: 100vh;}
main{width: 100%; height: 100%;}

.swiper-wrapper{width: 100%; height: 100%;}
.swiper-slide{width: 100%; height: 700px; position: relative; top: 50%; transform: translateY(-50%);}
.swiper-slide a{display: block;}
.swiper-slide a img{width: 100%; height: 100%;}