@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	margin: 0px;
	padding: 0px;
}

body{width: 100%; height: 100vh; overflow: hidden; background: #b1e1e2; animation: sky linear 20s infinite;}
section{width: 1000px; height: 400px; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -500px;}

.sky{width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;}
.sun{position: absolute; left: 50%; margin-left: -100px; top: -150px; transform-origin: center 500px; animation: sun linear 20s infinite;}
.cloud{position: absolute; left: 10%; top: -30px; animation: flow linear 10s infinite;}
.cloud2{position: absolute; left: 0%; top: 20px; animation: flow linear 20s infinite;}

.circle{position: absolute; bottom: 104px; left: 50%; margin-left: -160px; opacity: 0.7; animation: rotation linear 20s infinite;}
.night{position: absolute; bottom: 0px; left: 40px;}
.day{position: absolute; bottom: 0px; left: 40px; animation: day linear 20s infinite;}

.people{width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; animation: day linear 20s infinite;}
.man{position: absolute; bottom: 0%; left: 0%; animation: flow linear 7s infinite;}
.family{position: absolute; bottom: 0%; left: 0%; animation: flow linear 20s infinite;}

@keyframes rotation {
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

@keyframes sun {
	0%{transform: rotate(-90deg); opacity: 0;}
	25%{transform: rotate(-30deg); opacity: 1;}
	50%{transform: rotate(30deg); opacity: 1;}
	75%{transform: rotate(90deg); opacity: 0;}
	100%{transform: rotate(-90deg); opacity: 0;}
}

@keyframes sky {
	0%{background: #b08fcc;}
	25%{background: #b1e1e2;}
	50%{background: #fcd2e2;}
	75%{background: #636888;}
	100%{background: #b08fcc;}
}

@keyframes day {
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 1;}
	75%{opacity: 0;}
	100%{opacity: 0;}
}

@keyframes flow {
	0%{left: 0%; opacity: 0;}
	10%{opacity: 1;}
	80%{opacity: 1;}
	100%{left: 90%; opacity: 0;}
}